@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

section{
    min-height: 100vh;
    display: column;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 99;
}

.job-one, .job-two, .job-three{
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #FFFFFF;
    background: linear-gradient(to top right, #b9b9b9ea, #FFFFFF 60%);
    border-radius: 20px ;
    display: align-items;
    flex-direction: column;
    z-index: 99;
}

.job1 img, .job2 img, .job3 img{
    width: 100%;
    margin: 20px 0 10px;
    padding-top: 20px;
}

.job-title1, .job-title2, .job-title3{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    color: #6B240C; 
}

.split-left1, .split-left3 {
    padding-top: 50px;
    text-align: center;
    align-items: center;
}

.split-left2{
    text-align: left;
    align-items: center;
    padding-bottom: 30px;
}

.split-right1, .split-right2, .split-right3 {
    padding-bottom: 40px;
    text-align: left;
    align-items: center;
}

.job-description1, .job-description2, .job-description3{
    padding-top: 20px;
    text-align: left;
    color: #994D1C;
    font-size: 15px;
    font-weight: 300;
}

.btn{
    margin-top: 20px;
    font-weight: 300;
    background-color: #994D1C;
    background: linear-gradient(to top right, #E48F45, #994D1C);
    padding: 15px 20px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    display:inline-block;
    border-radius: 8px;
    transition: background-color 4s;
    text-indent: 5px;
}

.btn:hover{
    background-color: #6B240C;
    background: linear-gradient(to top right , #E48F45, #6B240C);
}

.btn:focus,
.btn:active{
    background-color: black;
    transition: none;
}



@media only screen and (min-width: 768px) {

    body{
        height: auto;
        justify-content: top;
        display: flex;
    }

    section{
        min-height: 50vh;
        display: flex;
    }

    .split-left2{
        left: 0;
        color: #6B240C;
        width: 50vw;
        text-align: left;
        float: left;
    }
    
    .split-right1, .split-right3{
        right: 0;
        color: #6B240C;
        text-align: left;  
        margin-left: auto;
        padding-left: 45%;
        width: auto;
        padding-top: 20px;
        align-items: center;
    }  
    
    .split-left2{
        right: 0;
        color: #6B240C;
        text-align: left;  
        margin-left: auto;
        width: 45%;
        align-items: center;
    }

    .split-left1{
        padding-top: 35px;
    }

    .split-left3{
        width: 100%;
    }

    .job-one, .job-two, .job-three {
        position: relative;
        width: 810px;
        padding-bottom: 40px;
        background-color: #FFFFFF;
        background: linear-gradient(to right,#fffffff0, #FFFFFF);
        border-radius: 20px ;
        display: flex;
    }

    .card{
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    }

    .front{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180 degrees);
        background: #FFFFFF;
        color:#6B240C
    }
    
    .job-description1, .job-description2, .job-description3{
        color: #994D1C;
        font-size: 15px;
        font-weight: 200;
        text-align: left;
        left: 20px   ;
    }

    .job1 img, .job3 img{
        display: block;
        width: 40%;
        float: left;
        
    }
        
    .job2 img{
        float: right;
        width: 40%;
    }
    
    .btn{
        font-weight: 300;
        background-color: #994D1C;
        background: linear-gradient(to top right, #E48F45, #994D1C);
        padding: 15px 20px;
        border: none;
        color: #FFFFFF;
        text-align: left;
        text-decoration: none;
        font-size: 15px;
        display:inline-block;
        border-radius: 8px;
        transition: background-color 0.3s;
        /*box-shadow: ;*/
    }
    
    .btn:hover{
        background-color: #6B240C;
        background: linear-gradient(to top right , #E48F45, #6B240C);
    }
    
    .btn:focus,
    .btn:active{
        background-color: black;
        transition: none;
    }
}